/* Style pour la fenêtre principale */
QMainWindow {
    background-color: #2E3B4E;
    color: #FFFFFF;
}

/* Style pour unQDialog */
QDialog {
    background-color: #2E3B4E;
    color: #FFFFFF;
}

/* Style pour les boutons */
QPushButton {
    background-color: #3A4B67;
    color: #FFFFFF;
    border: 2px solid #3A4B67;
    border-radius: 8px;
    padding: 5px;
}

QPushButton:hover {
    background-color: #4A5B77;
}

QPushButton:pressed {
    background-color: #2A3B57;
}

/* Style pour les menus déroulants */
QComboBox {
    background-color: #3A4B67;
    color: #FFFFFF;
    border: 1px solid #2E3B4E;
    padding: 5px;
    border-radius: 5px;
}

QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 15px;
    border-left-width: 1px;
    border-left-color: #2E3B4E;
    border-left-style: solid;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

QComboBox::down-arrow {
    image: url(down_arrow.png); /* Remplacer par le chemin de votre image de flèche vers le bas */
}

/* Style pour les barres de progression */
QProgressBar {
    border: 2px solid #3A4B67;
    border-radius: 5px;
    text-align: center;
    color: #FFFFFF;
}

QProgressBar::chunk {
    background-color: #4A5B77;
    width: 20px;
}

/* Style pour les barres de défilement */
QScrollBar:vertical {
    border: 1px solid #3A4B67;
    background: #2E3B4E;
    width: 15px;
    margin: 0px 0px 0px 0px;
}

QScrollBar::handle:vertical {
    background: #4A5B77;
    min-height: 20px;
    border-radius: 5px;
}

QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical {
    border: 1px solid #3A4B67;
    background: #2E3B4E;
    height: 15px;
    subcontrol-origin: margin;
    subcontrol-position: top;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none;
}

/* Style pour les labels */
QLabel {
    color: #FFFFFF;
    font-size: 14px;
}

/* Style pour les zones de texte */
QLineEdit {
    border: 1px solid #3A4B67;
    border-radius: 5px;
    padding: 5px;
    background: #2E3B4E;
    color: #FFFFFF;
    selection-background-color: #4A5B77;
    selection-color: white;
}

/* Style pour QTextEdit */
QTextEdit {
    background-color: #2E3B4E;
    color: #FFFFFF;
    border: 1px solid #3A4B67;
    border-radius: 5px;
    padding: 5px;
    selection-background-color: #4A5B77;
    selection-color: white;
}
